@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@rainbow-me/rainbowkit/styles.css';

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 0, 0, 0;
}

@layer base {
  body {
    @apply bg-slate-950 text-white min-h-screen selection:bg-indigo-500/30;
  }
}